body{
  text-align: center;
   background-image: url(https://images.unsplash.com/photo-1592385148581-7583a3daec7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);
  background-size: 2000px 1000px;
}

#head{
  font-family: 'Alfa Slab One', cursive;
  color: #ffffff;
  background-color: #374761;
  border: 1rem solid #000000;
  padding: 10px;
  margin: 20px;
}

input{
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

button{
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #000000;
  background-color: #374761;
  padding: 8px;
}

#weather-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #AAB8DB;
  opacity: 0.6;
  border: solid #000000;
  margin: 20px;
}

.search-location{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

