body{
  text-align: center;
}

#head{
  font-family: 'Alfa Slab One', cursive;
  color: #ffffff;
  background-color: #374761;
  border: 1rem solid #000000;
  padding: 10px;
  margin: 20px;
}

input{
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

button{
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #000000;
  background-color: #374761;
  padding: 8px;
}

#weather-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-location{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

